# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
